/* TRY CUBE */

/* COMPOSITION: the skeleton */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* UTILITY: does one job well */

.bg-primary{background: #0a5b91;}
.bg-secondary {background: #ffffff;}
.color-primary {color: #8c00ff;}
.color-secondary {color: #7417aa;}  

.painted{background-color: black;}

/* BLOCK */

.container__column {
    display: flex;
    gap: 1px;
    padding: 1px;
}

.column__pixel {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.pixel {
    width: 10px;
    height: 10px;    
}

.pixel:hover {
    background-color: #7417aa;
}

/* EXCEPTION: data attribute exceptions */