/* TRY CUBE */

/* COMPOSITION: the skeleton */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* UTILITY: does one job well */

.bg-primary{background: #0a5b91;}
.bg-secondary {background: white}
.painted{background: black;}

/* BLOCK */

.container__column {
    display: flex;
    padding: 1px;
    /* prevent dragging */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

.column__pixel {
    display: flex;
    flex-direction: column;
}

.pixel {
    width: 16px;
    height: 16px;    
}

.pixel:hover {background: red;}

/* EXCEPTION: data attribute exceptions */